footer
  nav.navbar.navbar-light.navbar-expand-lg.bg-light
    .container
      ul.navbar-nav.mr-auto
        li.nav-item.active      
          a.nav-link(
            href='mailto:' + siteEmail
          )
            | Contact us


      span.navbar-text.float-right
        | Copyright StreamThing LLC